span.orange {
  color: #F56727;
}
.black {
  color: #444 !important;
}
.blacker {
  color: #222 !important;
}
.yellow, span.yellow {
  color: rgb(255, 224, 80);
}

.title {
  float: left;
  text-align: left;
  font-size: 20px !important;
  text-transform: lowercase;
  color: rgb(255, 224, 80);
}