.max {
  height: 100vh;
  width: 100%;
}
.valign {
  display: table;
}
.valign > * {
  display: table-cell;
  vertical-align: middle;
}
.halign > * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.centralize {
  display: table;
}
.centralize > * {
  display: table-cell;
  vertical-align: middle;
}
.centralize > * {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.h50 {
  height: 50vh;
}
.btn {
  border-bottom: 3px solid #B9B9B9;
}
.btn.active,
.btn:active {
  box-shadow: none;
  position: relative;
  top: 2px;
  border-bottom: 0 !important;
}
.btn:focus {
  outline: none !important;
}
.btn.btn-success {
  border: 0;
  background-image: none;
  border-bottom: 3px solid #40A952;
  background-color: #55D46B !important;
}
.required::after {
  content: "*";
  font-family: Calibri, Arial;
  font-weight: 100;
  position: absolute;
  font-size: 18px;
  margin: -4px 0 0 1px;
  color: rgba(249, 11, 11, 0.75);
}
.nav-active {
  background-color: #083f88;
  -webkit-box-shadow: 3px 0px 6px -2px #bbbbbb;
  -moz-box-shadow: 3px 0px 6px -2px #bbbbbb;
  box-shadow: 3px 0px 6px -2px #bbbbbb;
}
.nav-active a {
  color: #EEE;
}
.nav-active a:hover {
  text-decoration: none;
}
.nav-active a:focus {
  outline: none;
  text-decoration: none;
}
nav {
  position: fixed;
  height: 50px;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-box-shadow: 0px 1px 13px -7px #999999;
  -moz-box-shadow: 0px 1px 13px -7px #999999;
  box-shadow: 0px 1px 13px -7px #999999;
  z-index: 1000;
  background-color: #FFF;
}
nav ul {
  height: 50px;
  line-height: 48px;
}
nav li {
  display: inline-block;
  height: 100%;
  list-style-type: none;
  cursor: pointer;
  margin: -1px;
}
nav li a {
  padding: 17px 15px;
}
nav li.active,
nav li:hover {
  background-color: #083f88;
  -webkit-box-shadow: 3px 0px 6px -2px #bbbbbb;
  -moz-box-shadow: 3px 0px 6px -2px #bbbbbb;
  box-shadow: 3px 0px 6px -2px #bbbbbb;
}
nav li.active a,
nav li:hover a {
  color: #EEE;
}
nav li.active a:hover,
nav li:hover a:hover {
  text-decoration: none;
}
nav li.active a:focus,
nav li:hover a:focus {
  outline: none;
  text-decoration: none;
}
main {
  height: 100vh;
  width: 100%;
  padding: 80px;
  background-color: #eeeff7;
}
html {
  background-color: #eeeff7;
}
.admin-add-section {
  margin-top: 30px;
}
.filter.lateral {
  height: 100vh;
  width: 230px;
  top: 50px;
  left: 0;
  background-color: #FBFBFB;
  position: fixed;
  -webkit-box-shadow: 11px 0px 59px -25px #cccccc;
  -moz-box-shadow: 11px 0px 59px -25px #cccccc;
  box-shadow: 11px 0px 59px -25px #cccccc;
  z-index: 1000;
}
section.dashboard {
  margin-left: 150px;
  padding: 20px 100px;
}
.tile {
  -webkit-transition: 200ms all;
  -moz-transition: 200ms all;
  transition: 200ms all;
  height: 50px;
}
